    <div class="mt-12 md:mt-20 px-4 md:px-14">
      <div class="containerPSlider swiper">
        <div class="brands">
            {% for brand in brands %}
          <div class="card-wrapper swiper-wrapper pb-10">
            <div class="card swiper-slide shiny">
              <a class="flex flex-col justify-between items-center gap-3 w-full h-36 md:h-48 md:px-4 border border-zinc-100 rounded-2xl hover:shadow-lg transition">
                <div class="w-full h-44 flex justify-center items-center">
                  <img class="max-w-24 md:max-w-32 w-full mx-auto" src="{{media_url}}{{brand.image_name}}" alt="">
                </div>
                <p class="text-xs md:text-sm text-zinc-700 h-16">
                  {{brand.brand_title}}
                </p>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>