    <div class="mt-12 md:mt-20 px-4 md:px-14">
      <div class="containerPSlider swiper">
        <div class="category">
          <div class="card-wrapper swiper-wrapper pb-10">
            {% for product_group in product_groups %}
            <div class="card swiper-slide">
              <a href="#" class="flex justify-between items-center shiny w-full border border-zinc-100 rounded-2xl hover:shadow-lg transition py-3 px-5">
                <p class="text-xs md:text-sm text-zinc-700">
                    {{product_group.group_title}}
                </p>
                <img class="max-w-12 md:max-w-14" src="{{media_url}}{{product_group.image_name}}" alt="">
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>