<!DOCTYPE html>
{% load static %}

<html lang="fa" dir="rtl" class="scroll-smooth">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{media_url}}image/fav.png">

  <link rel="stylesheet" href="{% static "assets/css/main.css" %}">

  <title>{% block title %}{% endblock title %}</title>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
function delete_from_shop_cart(product_id) {
            
            $.ajax({
            type:"GET",
            url:"/ord/delete_shopcart/",
            data:{
              product_id:product_id,

            },
            success: function(res) {
             $("#shop_cart").html(res);

            },
    });
    }
    

</script>
<script>
function add_to_shop_cart(product_id,qty) {
            
            $.ajax({
            type:"GET",
            url:"/ord/add_shopcart/",
            data:{
              product_id:product_id,
              qty:qty
            },
            success: function(res) {
             alert(res);

            },
    });
    }
    

</script>
<script>
function get_mobile_number() {
            var mobile_number=$("#mobile_number").val();
            $.ajax({
            type:"GET",
            url:"/accounts/mobile_number1/",
            data:{
              mobile_number:mobile_number,
            },
            success: function(res) {
             alert(res)
              
                

            },
    });
    }
    

</script>


<script>
function get_code() {

  var code = "";
  $(".code-input").each(function() {
    code += $(this).val().trim();
  });

  $.ajax({
    type: "GET",
    url: "/accounts/get_active_code/", 
    data: {
      code: code
    },
    success: function(res) {
      alert(res); 
    }
  });
}
</script>




</head>

<body class="max-w-[1700px] mx-auto">

{% include "partials/header.html" %}
{% include "partials/messages.html" %}
{% block content %}


{% endblock content %}
{% include "partials/footer.html" %}





</body>

<script src="{% static "assets/js/swiper.min.js" %}"></script>
<script src="{% static "assets/js/sliders.js" %}"></script>
<script src="{% static "assets/js/nouislider.min.js" %}"></script>
<script src="{% static "assets/js/main.js" %}"></script>

</html>