{% extends "main_template.html" %}

{% block title %}صفحه اصلی {% endblock title %}

{% load render_partial %}

{% block content %}


  <main class="mt-0 md:mt-8">
    <!-- hero slider -->
    {% render_partial "fav:show_sliders" %}
    <!-- slider 1 -->
{% render_partial 'products:cheapest' %}
    <!-- category -->
{% render_partial "products:product_groups" %}
    <!-- slider for category -->
  {% render_partial "products:new_products" %}
    <!-- 2 banner -->
    <div class="mt-10 md:mt-16 flex flex-col md:flex-row gap-3 md:gap-5 px-4 md:px-14">
      <a href="">
        <img class="w-full rounded-3xl" src="{{media_url}}image/banner/1.webp" alt="">
      </a>
      <a href="">
        <img class="w-full rounded-3xl" src="{{media_url}}image/banner/2.webp" alt="">
      </a>
    </div>
    <!-- slider 2 -->
    {% render_partial "products:new_products2" %}
    <!-- brands -->
    {% render_partial "products:get_brands" %}
    <!-- blog -->
    <div class="mt-12 md:mt-20 px-4 md:px-14">
      <!-- top blog -->
      <div class="flex gap-x-4 justify-between items-center mb-7">
        <div class="w-48 min-w-fit text-zinc-700 md:font-yekanBakhBold">
          خواندنی ها
        </div>
        <div class="h-[1px] w-full bg-gradient-to-r from-white via-zinc-300 to-white">
        </div>
        <div class="w-32 min-w-fit text-left">
          <a href="" class="group transition flex items-center justify-center gap-x-1 md:gap-x-2 text-zinc-600 hover:text-primary-500 text-xs md:text-sm text-center">
            مشاهده همه
            <svg class="fill-zinc-600 group-hover:-translate-x-1 transition group-hover:fill-primary-500 size-2.5 md:size-3" xmlns="http://www.w3.org/2000/svg" width="" height="" fill="" viewBox="0 0 256 256"><path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"></path></svg>
          </a>
        </div>
      </div>
      <!-- main blog -->
      {% render_partial "blog:readable" %}
    </div>
  </main>




{% endblock content %}






